{% extends "base.html" %}
{% load staticfiles %}

{% block title %}home.html{% endblock %}

{% block extra-style %}

<style type="text/css">

.homewindow {
    background-image: url("{% static 'img/lion.jpg' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    color: yellow;
    padding: 20px 0 0 20px;
}
.title {
    color: #c80;
    font-weight: bold;
}
.powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
}

footer.footer-wrapper {
    background: #456;
    color: #eee;
    line-height: 50px;
}
.footer-wrapper a {
    color: #ff9;    /* footer-right text */
}
.footer-wrapper a:hover {
    color: #0ff;
}

</style>
{% endblock extra-style %}

{% block content %}

    <div class="homewindow">
        <h2 class="title">Django - Python Web Programming</h2>
        <h4 class="powered"><i class="glyphicon glyphicon-cog"></i> powered by django and bootstrap.</h4>
    </div>

    <hr style="margin: 10px 0;">

    <div class="row text-center">
        <div class="col-md-4">
            <h3>Bookmark</h3>
            <p>You can store your own bookmarks by Bookmark application. It's also possible to update or delete your bookmarks.</p>
        </div>
        <div class="col-md-4">
            <h3>Blog</h3>
            <p>This application makes it possible to log daily events or write your own interests such as hobbies, techniques, etc.</p>
        </div>
        <div class="col-md-4">
            <h3>Photo</h3>
            <p>You can upload your own photos through this application. If you delete an album, all photos within it will be deleted.</p>
        </div>
    </div>

{% endblock content %}

{% block footer %}
<footer class="navbar-fixed-bottom footer-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p>
                    Copyright &copy; 2017 DjangoBook by shkim
                </p>
            </div>
            <nav class="col-md-7">
                <ul class="list-inline pull-right">
                    <li>
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="준비중입니다">Introduction</a>
                    </li>
                    <li>
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="준비중입니다">Help</a>
                    </li>
                    <li>
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="준비중입니다">Policy</a>
                    </li>
                    <li>
                        <a href="#" rel="tooltip" data-placement="top" data-original-title="준비중입니다">Something</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</footer>
{% endblock footer %}

{% block extra-script %}
<script>
$(function () {
    $('[rel=tooltip]').tooltip({
        delay: {show:10, hide:100}
    });
});
</script>
{% endblock extra-script %}
